/*
*		FONT
*/

/*
*		영문폰트
*/

@font-face {
	font-family:"LeagueGothic";
	src:url("../fonts/LeagueGothic-Regular.otf");
}

@font-face {
	font-family:"Mentone";
	src:url("../fonts/mentone-semibol.otf");
}

/*
*		한글폰트
*/

@font-face {
	font-family:"Malgun";
	src:url("../fonts/malgun.ttf");
}

@font-face {
	font-family:"MalgunBD";
	src:url("../fonts/malgunbd.ttf");
}

html, body {
	margin:0 auto;

	width:100%;
}


body {
	padding-top:70px;
}

a {
	color:black;
	text-decoration:none;
}

.white {
	color:white !important;
}

.col-centered {
	float:none;
	margin:0 auto;
}

.col-no-padding {
	padding:0;
}

@media (min-width:768px) {

	body {
		padding-top:100px;
	}
}