

@media (min-width:768px) {
	.nav, .navbar-header {
		padding:10px 0;
	}
	
	.navbar-brand {
		font-size:40px;
		font-family: 'Mentone', Sans-serif; 
	}
	
	.navbar-nav {
		font-size:17px;
		font-weight:bold;
	}
}